<!DOCTYPE html>
<html lang="vi" ng-app="VideoPlayerApp">
<head>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-route.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MyTube: Mai Túp</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/Footer-white.css">
</head>

<body>

<nav class="navbar navbar-default bg-faded navbar-fixed-top" ng-controller="navbarController">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/!">MyTube</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" id="main-menu">
        <li ng-class="{active:isActivenavbar('/')}"><a href="#/!"><span class="glyphicon glyphicon-home"></span> Trang Chủ <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chức Năng <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-class="{active:isActivenavbar('/uploadForm')}"><a href="#!uploadForm"><span class="glyphicon glyphicon-plus"></span>    Thêm Video</a></li>
            <li ng-class="{active:isActivenavbar('/playlist')}"><a href="#!playlist"><span class="glyphicon glyphicon-th-list"></span>    Playlist</a></li>
          </ul>
        </li>
        <li><a href="#!about">About</a></li>
      </ul>


      <!-- Switch with status of signed in -->
      <div ng-switch="signedIn" ng-show="loadedLocalStorage">
        <ul class="nav navbar-nav navbar-right">
          <!-- Signin Form or Username -->
        <li class="dropdown" ng-switch="signedIn">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span ng-class="glyphiconSigninOrUserData"></span>
            <span ng-bind="signinOrUserName"></span>
            <span class="caret"></span>
          </a>

          <!--Login Form-->
            <ul class="dropdown-menu" id="loginForm" ng-switch-when="false">
              <li>
                <div class="row">
                  <div class="col-md-12">

                    <form class="form" role="form" action="login" accept-charset="UTF-8">
                      <div class="form-group">

                        <input type="text" class="form-control" placeholder="Tài Khoản" name="sign-in-username"
                               ng-model="signinData.data.attributes.username"
                               ng-change="hideSigninResponse()">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" placeholder="Mật Khẩu" name="sign-in-password"
                               ng-model="signinData.data.attributes.password"
                               ng-change="hideSigninResponse()">
                        <div class="text-danger" ng-hide="signinResponseIsHided"><span class="glyphicon glyphicon-remove"></span> {{signInResponse}}</div>
                        <div class="help-block text-right"><a href="">Quên mật khẩu?</a></div>
                      </div>
                      <div class="form-group">
                        <button type="button" class="btn btn-primary btn-block" ng-click="signin()">Đăng nhập</button>
                      </div>
                    </form>
                  </div>
                  <div class="text-center">
                    Chưa có tài khoản? <a href="#!signup"><b>Đăng ký</b></a>
                  </div>
                </div>
              </li>
            </ul><!--End login Form-->
          <ul class="dropdown-menu" ng-switch-when="true">
            <li><a href=""><span class="glyphicon glyphicon-user"></span> Tài khoản: <span ng-bind="signinOrUserName"></span></a></li>
            <li><a href=""><span class="glyphicon glyphicon-time"></span> Ngày đăng nhập: <span ng-bind="signinTime"></span></a></li>
            <li>
              <a href="" title="Chúng tôi sẽ giữ tài khoản của bạn đăng nhập trong 7 ngày, sau 7 ngày, bạn vui lòng chủ động đăng nhập lại">
                <span class="glyphicon glyphicon-repeat"></span>  Ngày đăng nhập lại:
                <span ng-bind="expireTime"></span>
              </a>
            </li>
          </ul>
          </li>
          <!-- Signup or Signout -->
          <li ng-class="{active:isActivenavbar('/signup')}">
            <a href="" ng-click="controlSignupOrSignOut()">
              <span ng-class="glyphiconSignupOrSignout"></span>
              <span ng-bind="signupOrSignout"></span>
            </a>
          </li>
      </ul> <!-- Login form and signup link -->

      <!-- User data when signed in -->
      </div>
  

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- The Content -->
<ng-view>

</ng-view>
<!-- The Content -->

<footer id="myFooter">
  <div class="container">
    <ul>
      <li><a href="#!">MyTube</a></li>
      <li><a href="#!about">Liên Hệ</a></li>
      <li><a href="">Nhận xét</a></li>
      <li><a href="">Điều khoản</a></li>
    </ul>
    <p class="footer-copyright">Đỗ Hoàng - C1707 © 2017 & Support By xuanhung2401</p>
  </div>
  <div class="footer-social">
    <a href="" class="social-icons"><i class="fa fa-facebook"></i></a>
    <a href="" class="social-icons"><i class="fa fa-google-plus"></i></a>
    <a href="" class="social-icons"><i class="fa fa-twitter"></i></a>
  </div>
</footer>

<script src="js/app.js"></script>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/navbar.js"></script>
<script src="js/signUp.js"></script>
<script src="js/signIn.js"></script>
<script src="js/upload.js"></script>
<script src="js/videoPlayer.js"></script>
<script src="js/playlist.js"></script>
<script src="js/watch-page.js"></script>

</body>
</html>