<!DOCTYPE html>
<html lang="vi" ng-app="VideoPlayerApp">
<head>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-route.js"></script>
  <script src="js/app.js"></script>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Video player Assignment</title>

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>

<nav class="navbar navbar-default bg-faded navbar-fixed-top" ng-controller="navbarController">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/!">MyTube</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{active:isActivenavbar('/')}"><a href="#/!"><span class="glyphicon glyphicon-home"></span> Trang Chủ <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chức Năng <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-class="{active:isActivenavbar('/uploadForm')}"><a href="#!uploadForm"><span class="glyphicon glyphicon-cloud-upload"></span>    Tải Lên</a></li>
            <li><a href="#!watch?id=1507891985001"><span class="glyphicon glyphicon-cloud-download"></span>   Tải Xuống</a></li>
            <li ng-class="{active:isActivenavbar('/playlist')}"><a href="#!playlist"><span class="glyphicon glyphicon-th-list"></span>    Playlist</a></li>
          </ul>
        </li>
        <li><a href="">About</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Tìm Kiếm">
            <span class="input-group-btn"><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button></span>
          </div>
        </div>
      </form>

      <ul class="nav navbar-nav navbar-right" ng-show="!signedInStatus">
        <li ng-class="{active:isActivenavbar('/signup')}"><a href="#!signup"><span class="glyphicon glyphicon-user"></span> Đăng Ký</a></li>

        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-log-in"></span> Đăng Nhập <span class="caret"></span></a>

          <!--Login Form-->
            <ul class="dropdown-menu" id="loginForm">
              <li>
                <div class="row">
                  <div class="col-md-12">

                    <form class="form" role="form" action="login" accept-charset="UTF-8">
                      <div class="form-group">

                        <input type="text" class="form-control" placeholder="Tài Khoản" name="sign-in-username"
                               ng-model="signinData.data.attributes.username"
                               ng-change="hideSigninResponse()">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" placeholder="Mật Khẩu" name="sign-in-password"
                               ng-model="signinData.data.attributes.password"
                               ng-change="hideSigninResponse()">
                        <div class="text-danger" ng-hide="signinResponseIsHided"><span class="glyphicon glyphicon-remove"></span> {{signInResponse}}</div>
                        <div class="help-block text-right"><a href="">Quên mật khẩu?</a></div>
                      </div>
                      <div class="form-group">
                        <button type="button" class="btn btn-primary btn-block" ng-click="signin()">Đăng nhập</button>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="rememberMe">Ghi nhớ
                        </label>
                      </div>
                    </form>
                  </div>
                  <div class="text-center">
                    Chưa có tài khoản? <a href="#!signup"><b>Đăng ký</b></a>
                  </div>
                </div>
              </li>
            </ul>
          <!--End login Form-->
        </li>
      </ul> <!-- Login form and signup link -->

      <!-- User data when signed in -->
      <ul class="nav navbar-nav navbar-right" ng-show="signedInStatus">
        <li><a href=""><span class="glyphicon glyphicon-user"></span> <span ng-bind="signedInUsername"></span></a></li>
        <li><a href="" ng-click="signOut()"><span class="glyphicon glyphicon-log-out"></span> Đăng xuất</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- The Content -->
<ng-view>

</ng-view>
<!-- The Content -->

<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-left">
      © 2017 - Đỗ Hoàng Product
    </p>

    <a href="https://www.facebook.com/profile.php?id=100005276024152" class="navbar-btn btn-primary btn pull-right" target="_blank">
      <span class="glyphicon glyphicon-thumbs-up"></span>  Add Friend on FaceBook</a>
  </div>

</footer>
	
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/signUp.js"></script>
    <script src="js/upload.js"></script>
    <script src="js/videoPlayer.js"></script>
    <script src="js/navbar.js"></script>
    <script src="js/playlist.js"></script>
    <script src="js/watch-page.js"></script>
</body>
</html>