<main class="container">
    <section>
        <ol class="breadcrumb">
            <li><a href="#/">Trang chủ</a></li>
            <li class="active">Playlist</li>
        </ol>
    </section>



    <section class="container">
        <div class="col-md-2 col-sm-4">
            <ul class="nav nav-pills nav-stacked text-center">
                <li role="presentation" ng-class={active:isActivePlaylistSidebar('playlist')}><a href="" ng-click="switchPage('playlist')">Playlist</a></li>
                <li role="presentation" ng-class={active:isActivePlaylistSidebar('addPlaylist')}><a href="" ng-click="switchPage('addPlaylist')">Thêm Playlist</a></li>
            </ul>
        </div>
        <div class="col-md-10 col-sm-8" ng-switch="page">
            <!-- Playlist -->

            <div ng-switch-when="playlist">
                <div class="row display-flex">
                    <div class="col-sm-6 col-md-4 col-xs-12" ng-repeat="playlist in playlistArray">
                        <div class="thumbnail">
                            <img src={{playlist.attributes.thumbnailUrl}} alt={{playlist.attributes.name}} title={{playlist.attributes.description}}>
                            <div class="caption">
                                <h3 ng-bind="playlist.attributes.name"></h3>
                                <p ng-bind="playlist.attributes.description"></p>
                                <p>
                                    <button type="button" class="btn btn-primary"
                                            ng-click="changePageOfPlaylist(playlist.id, playlist.attributes.name)">
                                        <span class="glyphicon glyphicon-play"></span> Xem
                                    </button>
                                    <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Xóa</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Add Playlist -->
                <div ng-switch-when="addPlaylist">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Playlist</h3>
                        </div>
                        <div class="panel-body">
                            <!-- Alert -->
                            <div class="alert alert-success text-center" ng-show="uploadSuccess">
                                <span class="glyphicon glyphicon-ok"></span> Bạn đã tạo playlist thành công
                            </div>
                            <!-- Form -->
                            <form action="post" class="form-horizontal" name="form" novalidate>
                                <!-- Name -->
                                <div class="form-group has-feedback"
                                     ng-class="{'has-warning': form.name.$error.minlength,
                                                'has-success': form.name.$valid}">
                                    <label for="name" class="control-label col-md-2 col-sm-2">Tên Playlist</label>
                                    <div class="col-md-5 col-sm-5">
                                        <input name="name" type="text" class="form-control" placeholder="Tên Playlist của bạn"
                                               ng-model="playlistData.data.attributes.name"
                                               ng-minlength="7" required>
                                        <span class="glyphicon glyphicon-ok form-control-feedback"
                                              ng-show="form.name.$valid"></span>
                                        <span class="glyphicon glyphicon-warning-sign form-control-feedback"
                                              ng-show="form.name.$error.minlength"></span>
                                        <div class="text-warning" ng-show="form.name.$error.minlength">
                                            Tên Playlist có ít nhất 7 ký tự
                                        </div>
                                    </div>
                                </div>
                                <!-- Description -->
                                <div class="form-group">
                                    <label for="description" class="control-label col-md-2 col-sm-2">Mô tả</label>
                                    <div class="col-md-5 col-sm-5">
                            <textarea name="description" type="text" class="form-control" placeholder="Mô tả playlist" rows="5"
                                      ng-model="playlistData.data.attributes.description"></textarea>
                                    </div>
                                </div>
                                <!-- Thumbnail -->
                                <div class="form-group">
                                    <label for="thumbnail" class="control-label col-md-2 col-sm-2">Thumbnail</label>
                                    <div class="col-md-5 col-sm-5">
                                        <input name="thumbnail" type="text" class="form-control" placeholder="Ảnh bìa cho Playlist"
                                               ng-model="playlistData.data.attributes.thumbnailUrl">
                                    </div>
                                </div>
                                <!-- Button -->
                                <div class="form-group">
                                    <div class="col-md-2 col-sm-2">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-10 col-sm-10">
                                        <button type="button" class="btn btn-primary"
                                                ng-disabled="form.$invalid"
                                                ng-click="doSubmit()"><span class="glyphicon glyphicon-send"></span> Submit</button>
                                        <button type="reset" class="btn btn-default"
                                                ng-click="resetForm()"><span class="glyphicon glyphicon-refresh"></span> Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="panel-footer">
                            * Nhắc nhở: <strong>Tên Playlist phải có ít nhất 7 ký tự</strong>
                        </div>
                    </div>
                </div>
                  <!-- choosen playlist -->
                <div ng-switch-when="choosenPlaylistPage">
                    <ul class="nav nav-pills">
                        <li role="presentation"><a href="" ng-click="switchPage('playlist')"><span class="glyphicon glyphicon-chevron-left"></span> Back</a></li>
                        <li role="presentation" class="active"><a href="#"><span class="glyphicon glyphicon-play"></span> Playlist</a></li>
                        <li role="presentation"><a href="#!uploadForm"><span class="glyphicon glyphicon-plus"></span> Thêm video</a></li>
                    </ul>
                    <br>
                    <div class="well well-sm text-center">
                        <h4 ng-repeat="playlist in playlistArray | filter:{id:choosenPlaylist.attributes.playlistId}">{{playlist.attributes.name}}</h4>
                    </div>
                    <section class="row">
                        <ul class="list-unstyled video-list-thumbs row">
                            <li class="col-lg-3 col-md-4 col-sm-5 col-xs-6" ng-repeat="video in videosArray | filter:choosenPlaylist">
                                <a href="#!watch?id={{video.id}}" title={{video.attributes.name}}>
                                    <img src={{video.attributes.thumbnail}} alt={{video.attributes.name}} height="130px" />
                                    <h2 ng-bind="video.attributes.name"></h2>
                                    <span class="glyphicon glyphicon-play-circle"></span>
                                </a>
                            </li>
                        </ul>

                    </section>
                </div>
        </div>
    </section>
    <!-- Alert when no Playlist -->
    <section class="modal fade" id="alertNoPlaylist" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="text-center text-info">
                        <h4>Chào mừng bạn đến với MyTube</h4>
                        <p>Dường như bạn vẫn chưa có playlist thì phải?</p>
                        <p>Hãy tạo nhanh một playlist để tận hưởng những tính năng của chúng tôi nhé!</p>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>