<main class="container">
    <section>
        <ol class="breadcrumb">
            <li><a href="index.html">Trang chủ</a></li>
            <li class="active">Xem Video</li>
        </ol>
    </section>

    <div class="alert alert-danger text-center" ng-show="isErrorVideo">
        <p ng-bind="alertError.code"></p>
        <p ng-bind="alertError.title"></p>
        <p ng-bind="alertError.detail"></p>
    </div>
    <section class="row">
        <!-- Video Player -->
        <div class="col-md-8 col-sm-9" ng-init="createVideoData()">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" ng-src="{{srcLink}}" allowfullscreen autoplay=?1></iframe>
                    </div>
                </div>
                <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-8 col-sm-7 col-xs-12">
                                <h4><strong>{{videoData.attributes.name}}</strong></h4>
                                <p><strong>Xuất bản:</strong> {{videoData.attributes.createdTimeMLS}}</p>
                                <p><strong>Playlist:</strong> <span ng-show="completeLoadingVideoData">No <span ng-bind="videoData.attributes.playlistId"></span></span></p>
                            </div>
                            <div class="col-md-4 col-sm-5 col-xs-12" ng-show="!videoIsInPlaylist && userToken !== null">
                                <button type="button" class="btn btn-warning pull-right" data-toggle="modal" data-target="#editModal">
                                    <span class="glyphicon glyphicon-edit"></span> Thêm vào playlist
                                </button>
                            </div>
                            <div class="col-md-4 col-sm-5 col-xs-12" ng-show="videoIsInPlaylist">
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModal">
                                        <span class="glyphicon glyphicon-edit"></span> Sửa
                                    </button>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#alertDeleteModal">
                                        <span class="glyphicon glyphicon-trash"></span> Xóa
                                    </button>
                                </div>
                            </div>
                        </div>
                    <br>
                        <span style="white-space: pre-line"><strong>Mô tả:</strong> {{videoData.attributes.description}}</span>
                        <br>
                        <hr>
                        <br>
                        <pre><strong>Từ khóa: </strong> {{videoData.attributes.keywords}}</pre>
                </div>
            </div>
        </div> <!-- Video Player -->
        <!-- Right Side -->
        <div class="col-md-4 col-sm-3" >
            <div class="text-center" ng-init="loadUserPlaylist()" ng-if="userToken !== null">
                <strong>Playlist của bạn</strong>
            </div>
            <br>
            <div class="row" ng-repeat="playlist in playlistArray" style="margin-bottom: 5px;">
                <div class="col-md-6 col-sm-12 col-xs-4">
                    <a ng-href="#!watch?playlistId={{playlist.id}}">
                        <div class="hover-flash" style="height: 150px; background-image: url({{playlist.attributes.thumbnailUrl}}); background-size: cover; width: 100%; )">
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-8">
                    <a ng-href="#!watch?playlistId={{playlist.id}}"><strong ng-bind="playlist.attributes.name"></strong></a>
                </div>
            </div>

            <br>
            <hr>
            <div class="text-center">
                <strong ng-show="videoIsInPlaylist">Cùng Playlist</strong>
                <strong ng-show="!videoIsInPlaylist" ng-init="loadVideofromYT()" ng-if="!videoIsInPlaylist">Có thể bạn sẽ thích</strong>
            </div>
            <br>
            <div class="row" ng-repeat="video in videosArray" style="margin-bottom: 3px;">
                <div class="col-md-6 col-sm-12 col-xs-4">
                    <a ng-href="#!watch?id={{video.id}}&playlistId={{video.attributes.playlistId}}" ng-if="videoIsInPlaylist">
                        <img src="https://i.ytimg.com/vi/{{video.attributes.youtubeId}}/mqdefault.jpg" class="hover-flash" alt="{{video.attributes.youtubeId}}" title="{{video.attributes.name}}"
                             style="width:100%">
                    </a>
                    <a ng-href="#!watch?youtubeId={{video.id}}" ng-if="!videoIsInPlaylist">
                        <img src="https://i.ytimg.com/vi/{{video.attributes.youtubeId}}/mqdefault.jpg" class="hover-flash" alt="{{video.attributes.youtubeId}}" title="{{video.attributes.name}}"
                             style="width:100%">
                    </a>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-8">
                    <p>
                        <a ng-href="#!watch?id={{video.id}}&playlistId={{video.attributes.playlistId}}" ng-if="videoIsInPlaylist"><strong ng-bind="video.attributes.name"></strong></a>
                        <a ng-href="#!watch?youtubeId={{video.id}}" ng-if="!videoIsInPlaylist"><strong ng-bind="video.attributes.name"></strong></a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal Edit -->
    <section class="modal fade" id="editModal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <h4 class="modal-title video-title text-center">Chỉnh sửa Video</h4>
                </div>
                <div class="modal-body">
                    <!-- Alert Success -->
                    <div class="alert alert-success text-center" ng-show="editSuccess">
                        <span class="glyphicon glyphicon-ok"></span> <strong>Sửa thông tin video thành công</strong>
                    </div>
                    <!-- Alert Error -->
                    <div class="alert alert-danger text-center" ng-show="editError">
                        <span class="glyphicon glyphicon-remove"></span> <strong>{{responseEditError}}</strong>
                    </div>
                    <form action="post" class="form-horizontal" name="form" ng-submit="submit()" novalidate>
                        <div class="form-group">
                            <label for="videoId" class="control-label col-md-2 col-sm-2">Video ID <strong class="text-danger">*</strong></label>
                            <div class="col-md-5 col-sm-5">
                                    <input name="videoId" type="text" class="form-control" disabled="true" ng-model="editData.data.attributes.youtubeId">
                            </div>

                        </div>

                        <!--Name-->
                        <div class="form-group">
                            <label for="name" class="control-label col-md-2 col-sm-2">Tên Video <strong class="text-danger">*</strong></label>
                            <div class="col-md-5 col-sm-5">
                                <input name="name" type="text" class="form-control" placeholder="Tên Video có 3 - 50 ký tự"
                                       ng-model="editData.data.attributes.name"
                                       ng-minlength="3"
                                       ng-maxlength="50" required>

                                <!-- alert input Name -->

                                <div ng-show="form.name.$invalid" class="text-warning">
                                    <div ng-show="form.name.$error.requied">
                                        <span class="glyphicon glyphicon-warning-sign"></span> Tên Video không được để trống
                                    </div>
                                    <div ng-show="form.name.$error.minlength || form.name.$error.maxlength">
                                        <span class="glyphicon glyphicon-warning-sign"></span> Tên Video có 3 - 50 ký tự
                                    </div>
                                </div>
                                <div ng-show="form.name.$valid" class="text-success">
                                    <span class="glyphicon glyphicon-ok"></span> Tên Video hợp lệ
                                </div>
                            </div>

                        </div>

                        <!--Description-->

                        <div class="form-group">
                            <label for="description" class="control-label col-md-2 col-sm-2">Mô Tả</label>
                            <div class="col-md-5 col-sm-5">
                                <textarea name="description" class="form-control" placeholder="" rows="5" ng-model="editData.data.attributes.description"></textarea>
                            </div>
                        </div>

                        <!--Keywords-->

                        <div class="form-group">
                            <label for="keywords" class="control-label col-md-2 col-sm-2">Từ Khóa</label>
                            <div class="col-md-5 col-sm-5">
                                <input type="text" name="keywords" class="form-control" placeholder="Từ khóa giúp tìm kiếm Video dễ hơn" ng-model="editData.data.attributes.keywords">
                            </div>
                        </div>

                        <!--The selector of Playlist-->

                        <div class="form-group">
                            <label for="playlistId" name="playlistId" class="control-label col-md-2 col-sm-2">Playlist <strong class="text-danger">*</strong></label>
                            <div class="col-md-5 col-sm-5">
                                <select class="form-control" ng-model="editData.data.attributes.playlistId" required>
                                    <option value="{{thePlaylisId}}" selected ng-if="videoIsInPlaylist">Không đổi</option>
                                    <option ng-repeat="playlist in playlistArray" value="{{playlist.id}}">{{playlist.attributes.name}}</option>
                                </select>
                            </div>
                        </div>
                        <!-- Thumbnail -->
                        <div class="form-group">
                            <label for="authorName" class="control-label col-md-2 col-sm-2">Link Ảnh Bìa</label>
                            <div class="col-md-5 col-sm-5">
                                <input name="authorName" type="text" class="form-control" ng-model="editData.data.attributes.thumbnail" placeholder="Nếu để trống, ảnh bìa sẽ là thumbnail mặc định">
                            </div>
                        </div>

                        <!--The Button-->

                        <div class="form-group">
                            <div class="col-md-2 col-sm-2">
                                &nbsp;
                            </div>

                            <div class="col-md-10 col-sm-10">
                                <button type="button" class="btn btn-warning" ng-disabled="!form.$dirty || form.$dirty && form.$invalid"
                                        ng-click="editVideo()"><span class="glyphicon glyphicon-edit"></span> Sửa
                                </button>
                                <button type="button" class="btn btn-primary"
                                        title="Tự Động chỉnh sửa form theo dữ liệu chuẩn của youtube"
                                        ng-click="autoComplete()">
                                    <span class="glyphicon glyphicon-star-empty"></span> Tự Động
                                </button>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#alertDeleteModal"
                                        title="Xóa video khỏi playlist của bạn">
                                    <span class="glyphicon glyphicon-trash"></span> Xóa
                                </button>
                                <button type="button" class="btn btn-info"
                                        ng-click="resetEditForm()">
                                    <span class="glyphicon glyphicon-refresh"></span> Reset
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-triangle-left"></span> <strong>Back</strong></button>
                </div>
            </div>

        </div>
    </section>
    <!-- Modal Alert Delete -->
    <div class="modal fade" id="alertDeleteModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content text-warning">
                <div class="modal-body text-warning text-center">
                    <h5><strong>Bạn thực sự muốn xóa video này?</strong></h5>
                    <button type="button" class="btn btn-danger" ng-click="deleteVideo()">Xác nhận</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</main>